.mobile-header-section {
        width: 100%;
        padding: 20px 16px;
        border-bottom: 1px solid rgba(172, 197, 247, 0.4);
}

.mobile-offcanvas {
        width: 100vw;
        background: #040E20;
        padding: 44px 40px;
}

.mobile-offcanvas .offcanvas-header {
        margin-bottom: 49px;
        padding: 0;
}

.mobile-offcanvas .offcanvas-body {
        padding: 0;
}

.offcanvas-list {
        padding: 0;
        margin-bottom: 119px;
}

.offcanvas-list li a {
        color: #7F848D;
}

.offcanvas-list li a.active {
        color: #fff;
}

.offcanvas-list-item {
        padding: 16px 0 16px;
        color: #7F848D;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
}

.linkedin-img-offcavvas {
        margin: 8px 0;
}

.offcanvas-theme-btn {
        margin-top: 35px;
        width: 97%;
}

.cursor-pointer {
        cursor: pointer;
}