.icon-box {
    border: 1.2px solid #D3E8FF;
    box-sizing: border-box;
    border-radius: 13.2px;
    width: 72px;
    height: 72px;
    margin-bottom: 30px;
}

.icon-box img {
    margin: 10px auto;
}
@media only screen and (min-width:768px) and (max-width:1199px){
.icon-box{
    margin-bottom: 10px;
}
}