footer {
    border-top: 1px solid rgb(145, 158, 171, 0.24);
    padding-top: 80px;
}

.footer-text p {
    line-height: 24px;
    padding: 24px 40px 22px 0;
}

.page-list a {
    text-decoration: none;
}

.page-list li {
    padding-bottom: 20px;
}

.page-list {
    padding: 84px 57px 0;
}

.bottom-links a {
    text-decoration: none;
    padding-left: 24px;
}

.footer-bottom {
    padding-top: 50px;
    padding-bottom: 22px;
}

.book-demo {
    margin-top: 84px;
}

@media only screen and (min-width:768px) and (max-width:1199px){
    .footer-text p {
        line-height: 20px;
        padding: 10px 0px 10px 0;
    }
    .page-list {
        padding: 40px 0 0;
    }
    .page-list ul{
        padding-left: 0;
    }
    .page-list li{
        padding-bottom: 10px;
    }
    .book-demo {
        margin-top: 43px;
    }
    .footer-bottom {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    footer{
        padding-top:60px;
    }
}