.case-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(38, 49, 62, 0.05);
    border-radius: 8px;
    height: 489px;
    margin-right: 10px;
}

.case-box .text-box {
    padding: 30px;

}

.case-box .text-box h2 {
    padding-bottom: 10px;
}

.case-box .text-box p {
    padding-bottom: 20px;
}