@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    color: #212B36;
    font-weight: 400;
}

.color-grey {
    color: #637381;
}

.fz-50 {
    font-size: 50px;
}

.fz-48 {
    font-size: 48px;
}

.fz-36 {
    font-size: 36px;
}

.fz-34 {
    font-size: 34px;
}

.fz-22 {
    font-size: 22px;
}

.fz-20 {
    font-size: 20px;
}

.fz-18 {
    font-size: 18px;
}

.fz-17 {
    font-size: 17px;
}

.fz-16 {
    font-size: 16px;
}

.fz-15 {
    font-size: 15px;
}

.fz-14 {
    font-size: 14px;
}

.fz-13 {
    font-size: 13px;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .container {
        max-width: 1152px;
    }
}